[init]
	defaultBranch = main
[user]
	name = Joseph Emmanuel
	email = jossey1918@gmail.com
[push]
	default = current

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[core]
    pager = delta
    excludesfile = /Users/astrojose/.gitignore
    editor = vim

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[alias]
	s = status
  loo=log --oneline
	lo = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	aa = 'add .'
	cm = 'commit -m'
	dev = 'checkout develop'
	acm = 'commit -ma'
	pat = 'add --patch'
	ci = commit -v
	patch = add -p
	pc = add -p
  feat-task = log origin/develop.. --oneline --format="%s"
  feat-logs = log origin/develop.. --stat
  pr-task = log origin/$(git symbolic-ref --short HEAD).. --oneline
  pr-logs = log origin/$(git symbolic-ref --short HEAD).. --oneline
	uncommit = 'reset HEAD^'
  cleanup = "!git branch --merged | grep  -v '\\*\\|main\\|develop' | xargs -n 1 -r git branch -d"
  pmd = "!f() { git pull-request -op -a astrojose -F - < pr.md; }; f"



[commit]
	template = /Users/astrojose/.gitmessage
[hub]
	protocol = git
